.takeUp {
  bottom: 20px;
  position: fixed;
  right: 20px;
  cursor: pointer;
  width: 90px;
  border-radius: 8px 8px 8px 0;
  background-color: #53565f;
  padding: 6px;
  box-sizing: border-box;
  color: white;

  & > .text {
    float: left;
    width: 50px;
    font-size: 13px;
    margin-left: 3px;
    padding: 3px;
    text-transform: uppercase;
  }

  & > i {
    line-height: 38px;
    margin-left: 5px;
  }

}