.post-content_header {
  padding: 10px;
  background: #141518;
  border-radius: 5px 5px 0 0;


  h1 {
    color: #f2f2f2;
    font-size: 18px;
    font-weight: normal;
  }

  p {
    color: #BBB;
    font-size: 14px;
    margin: 5px 0;
    padding: 0;
    max-height: 18px;
    line-height: 18px;
    letter-spacing: 1.2px;

    a {
      text-decoration: none;
      color: #BBB;
      margin-left: 5px;
      font-weight: bold;


      &:hover {
        text-decoration: underline;
      }
    }
  }

}
