.TrendingTags {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TrendingTags-header {
  height: 32px;
  width: 100%;
  text-align: center;
  position: relative;

  color: #b3c2c2;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  line-height: 32px;
  font-size: 16px;
  font-weight: bold;

}

.TrendingTags-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;

}

.TrendingTags-more {
  width: 100%;
  text-align: center;

  & > button {
    border: 0;
    background-color: inherit;
    color: #fff;
    text-transform: uppercase;
    opacity: .7;
    letter-spacing: 1.3px;
    line-height: 32px;
    height: 32px;
    font-size: 16px;
    font-weight: bold;
    outline: 0 !important;
    margin: 0 10px;

    &:hover {
      cursor: pointer;
    }

    &::-moz-focus-outer, &::-moz-focus-inner {
      border: 0;
    }
  }

}