.tag {
  background-color: rgba(121, 67, 200, .8);
  background-size: auto 115px;
  background-repeat: repeat-x;
  background-position: 100% 0;
  height: 190px;
  width: 127px;

  margin: 12px 6px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-radius: 5px;
  transition: transform .3s;

  text-decoration: none;


  &:hover {
    transform: translateY(-5px);
  }

}

.tag-title {
  width: 100%;
  text-align: center;
  background-color: rgb(50, 141, 103);
  padding: 12px 0;
  border-radius: 0 0 5px 5px;

}

.tag-name {
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: .4px;
  color: #fff;
  text-transform: capitalize;
}

.tag-posts {
  margin-top: 4px;
  font-size: 11px;
  line-height: 1.46;
  letter-spacing: .4px;
  color: hsla(0, 0%, 100%, .5);
}